-#!!! 1.1
%html
  %head              
    %title Digital Demokrati
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html; charset = utf-8" }
    %link{ :href => "/css/reset.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/960.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/text.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %script{:src => "/javascript/jquery-1.4.2.min.js"}
    %script{:src => "/javascript/jquery.curvycorners.min.js"}
  %body
    .container_12
      .grid_12#header
        %h1
          %a{:href => "/"} Digital Demokrati

      = yield 

      .clear
      .grid_12#footer
        &nbsp;
