-#!!! 1.1
%html
  %head              
    %title Digital Demokrati
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html; charset = utf-8" }
    %link{ :href => "/css/reset.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/960.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/text.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %script{:src => "/javascript/jquery-1.4.2.min.js"}
    %script{:src => "/javascript/jquery.curvycorners.min.js"}
    %script{ :type => "text/javascript" }
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24266039-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    - if @page_thinner
      %style{ :type => "text/css" }
        :sass
          .container_12
            :width 720px
            .grid_12
              :width 700px

    .container_12
      = partial :header
      - if session[:flash_top]
        .grid_12
          = session.delete(:flash_top)
      = yield

      .clear
      .grid_12#footer
        &nbsp;
