%p Ange din e-postadress och ditt lösenord:

%p
  %form{ :action => "/login", :method => "post" }
    %input{ :name => "login[email]", :placeholder => "e-postadress" }
    %input{ :name => "login[password]", :type => "password", :placeholder => "lösenord" }
    %input{ :type => "submit", :value => "Logga in" }
%p
  %a{ :href => "/password_reset" } Har du glömt ditt lösenord? Klicka här!
