%p Ange din e-postadress och ditt lösenord:
%p
  %form
    E-post:
    %input
    %br
    Lösenord:
    %input
    %input{ :type => "submit", :value => "Logga in!"}
%p
  %a{ :href => "/password_reset" } Har du glömt ditt lösenord? Klicka här!
