%p Att bli medlem i Digital Demokrati g책r snabbt och enkelt. Skriv in din e-postadress i rutan nedan s책 f책r du strax ett mail med ytterligare instruktioner:
%p
  %form
    %input{ :style => "width: 150px"}
    %input{ :type => "submit", :value => "Skicka!"}
%p
  Man kan ocks책 logga in via Facebook:
  %img{ :src => "/images/facebook_login_button.png", :style => "margin-bottom: -7px" }
