
%p
  %form{ :action => "/signup", :method => "post" }
    %input{ :name => "signup[email]", :placeholder => "e-postadress" }
    %input{ :type => "submit", :value => "Skapa konto!" }
%p
  Man kan också logga in via Facebook:
  %img{ :src => "/images/facebook_login_button.png", :style => "margin-bottom: -7px" }
