
a
  color: black
  text-decoration: none

p
  margin-bottom: 5px

h1, h2, h3
  margin-top: 10px
  margin-bottom: 5px
h1
  border-bottom: 3px solid ccc
h2
  border-bottom: 2px solid ccc
h3
  font-size: 135%
  margin-bottom: 0px
li
  //list-style: none
  //margin-left: 0px
  margin-left: 18px

.box
  border: 1px solid ccc
  margin-top: 10px
  padding: 0px 3px 3px 5px
  
  
.left
  float: left
  margin-right: 20px

.right
  float: right
  margin-left: 20px
  
#footer
  margin-top: 10px
  border-top: 2px solid ccc
  height: 100px
