
.grid_8
  %h2 Källkod
  %h3 Den korta versionen
  %p
    Digital Demokrati är ett open source-projekt. Koden finns här:
    %a{ :href => "https://github.com/digitaldemokrati/" } github.com/digitaldemokrati
  %h3 Den något längre versionen
  %p En av de bärande principerna för Digital Demokrati är transparens. För att vem som helst ska kunna kontrollera hur systemet fungerar publiceras all källkod öppet. Samtidigt möjligör detta för fler att delta i utvecklingsarbetet.
  %h3 Programmerare och designers, läs detta!
  %p Är du utvecklare eller designer? Vill du vara med på ett av vår tids mest intressanta politiska projekt? Vill du ha en chans att förändra samhället på riktigt? Då bör du överväga att delta i utvecklingen av Digital Demokrati.
  %p Ta gärna en titt på kodbasen (se nedan) och fundera över vad du kan bidra med. Alternativt skickar du ett mail till <href='mailto:martin@digitaldemokrati.se'>martin@digitaldemokrati.se</a> och presenterar dig, så får du en aktuell genomgång av vad som finns att göra!
  %p Här är några exempel på saker vi gärna skulle se att någon kunde åta sig att göra:
  %p
    Här kan du ta del av koden bakom Digital Demokrati:
    %a{ :href => "https://github.com/digitaldemokrati/" } github.com/digitaldemokrati


= partial :'om/toc'