
.grid_8

  %h2 Vad är Digital Demokrati?
  
  %p Digital Demokrati är ett alternativt demokratiskt system. På den här sidan ges en komplett förklaring av hur systemet fungerar och vad projektets syften är.
  
  %h3 Bakgrund
  
  %p De nuvarande politiska systemen har en rad brister - när man tittar närmare på dem inser man att de är mycket långt från de ursprungliga demokratiska idealen. Det enda inflytande de allra flesta medborgare har är att gå och rösta en gång vart fjärde år - och detta är ett så försumbart inflytande att det knappast ens kan kallas för "inflytande". Röstningsritualen vart fjärde år och den enorma uppmärksamhet den får invaggar människor i en falsk känsla av delaktighet.
    
  %p De befintliga "demokratiska" systemen bygger helt och hållet på att all makt lämnas över till en mycket liten grupp människor. Möjligheterna till ansvarsutkrävande är också mycket liten. När dessa system skapades fanns det vissa tekniska skäl som gjorde att detta framstod som det enda praktiska tillvägagångssättet. Med modern teknik - datorer och internet - finns inga sådana begränsningar längre.
  
  %p Den ursprungliga grekiska demokratin byggde på att röstberättigade medborgare träffades på ett torg och diskuterade aktuella frågor. Det fanns en grupp valda representanter, men de hade framför allt en administrativ funktion och de byttes ut ofta.
  
  %h3 Direkt och representativ demokrati
  
  %p I de ursprungliga demokratierna fanns bara direkt demokrati. (Det fanns inslag av representation, men representanter hade administrativa funktioner och byttes ofta ut. I ... lottades de fram.) Det som idag kallas för demokrati på nationell nivå har mycket litet gemensam.
  
  
  
  %p Digital Demokrati syftar till att skapa en kombination av direkt och representativ demokrati, där var och en får välja själv hur mycket av varje man vill ha. Så här fungerar det:
  
  %ul
    %li Varje medborgare kan delta direkt i alla omröstningar. I dessa fall tillämpas direktdemokrati, dvs ingen annan fungerar som medborgarens representant.
    %li För de omröstningar där man inte själv kan eller vill delta kan varje medborgare utse en eller flera representanter. Om man inte deltagit i en viss omröstning fördelas ens röst över de representanter man utsett. T.ex: Om jag har utsett tre representanter får dessa en extra tredjedels röst vardera i alla omröstningar där jag själv inte deltar. (Om dessa representanter inte heller deltar i omröstningen överförs deras samlade röststyrka (inklusive min röst) på de representanter de i sin tur utsett osv.)

  %h3 Mål på kort sikt

  %p På kort sikt är projektets mål helt enkelt att samla några hundra entusiaster som vill ge förslag, debattera, rösta och välja representanter - så att den digitala demokratin kan börja leva sitt eget liv, om än i begränsad skala. Framför allt behövs personer som vill presentera argument för och emot olika typer av förslag - det levande offentliga samtalet är trots allt kärnan i varje demokratiskt system.
  
  %h3 Mål på lång sikt
  
  %p Om Digital Demokrati lyckas samla tiotusentals användare och bli en levande mötesplats för diskussioner och samhället grundas ett politiskt parti som ställer upp i de allmänna valen med syfte att representera systemet i Sveriges Riksdag. Våra riksdagsledamöter skulle inte driva egna politiska agendor, utan hela tiden rösta exakt enligt den aktuella ställningen i DD-systemet.
  
  %p En finess med att skapa ett sådant parti är att folket gemensamt skulle få en möjlighet att bestämma i vilken utsträckning man vill ha direktdemokrati. Om partiet skulle få, säg, 10% av rösterna innebär det att direktdemokratin skulle ha 10% av inflytandet i Riksdagen. skulle partiet få över 50% av rösterna innebär det att det svenska politiska systemet blev helt och hållet direktdemokratiskt.

= partial :'om/toc'