.grid_4
  %h2 Innehåll
  %h3
    %a{ :href => "/om/om" } Bakgrund
  %h3
    %a{ :href => "/om/om" } Målsättning
  %h3
    %a{ :href => "/om/vem" } Vem står bakom?
  %h3
    %a{ :href => "/om/kod" } Källkod
  
